<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.mapper.ElectricalMapper">
    <select id="selectByParams" resultType="com.supermarket.pojo.Electrical">
        select * from s_electrical
        <where>
            <if test="name!=null and name !=''">and elname like concat('%',#{name},'%')</if>
            <if test="stock!=null and stock !=''">and elstock like concat('%',#{stock},'%')</if>
            <if test="price!=null and price !=''">and elprice like concat('%',#{price},'%')</if>
        </where>
    </select>
    <insert id="addElectrical" parameterType="com.supermarket.pojo.Electrical">
        insert into s_electrical values(null,#{elname},#{elbrand},#{elprice},#{elstock},#{elpic})
    </insert>
    <update id="updateElectrical" parameterType="com.supermarket.pojo.Electrical">
        update s_electrical
        <set>
            <if test="elname !=null">
                elname = #{elname},
            </if>
            <if test="elbrand !=null">
                elbrand = #{elbrand},
            </if>
            <if test="elprice !=null">
                elprice = #{elprice},
            </if>
            <if test="elstock !=null">
                elstock = #{elstock},
            </if>
            <if test="elpic !=null">
                elpic = #{elpic},
            </if>
        </set>
        where elid = #{elid}
    </update>
    <delete id="deleteAllElectrical">
        delete from s_electrical where elid in
        <foreach collection="list" item="elid" open="(" close=")" separator=",">
            #{elid}
        </foreach>
    </delete>
</mapper>