<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.mapper.WineMapper">
    <insert id="addWine">
        insert into s_wine value (null,#{wbrand},#{wname},#{wprice},#{wtype},#{wtotal},#{wpic})
    </insert>
    <update id="updateWine">
        update s_wine set wbrand = #{wbrand},wname = #{wname},wprice = #{wprice},wtype = #{wtype},wtotal = #{wtotal},wpic = #{wpic},wpic = #{wpic} where wid = #{wid}
    </update>
    <delete id="deleteAllWine">
        delete from s_wine where wid in
        <foreach collection="list" item="wid" open="(" close=")" separator=",">
            #{wid}
        </foreach>
    </delete>

    <select id="selectByParams" resultType="com.supermarket.pojo.Wine">
        select  * from s_wine
        <where>
            <if test="wbrand != null and wbrand != ''">
                and wbrand like concat ('%',#{wbrand},'%')
            </if>

            <if test="wname != null and wname != ''">
                and wname like concat ('%',#{wname},'%')
            </if>


        </where>


    </select>
</mapper>